@charset "UTF-8";
/* CSS Document */

#container {
		width: auto;
		margin: auto;
		text-align: left;
		min-height: 400px;
	}
p {

	width:330px;
}

footer {
margin-left: -10px;
}

#portfolio {
	visibility: hidden;
}

.gallery {
	margin:auto;
	width: auto;
	min-height:510px;	

	
}

.gallery li{
	margin-right: 300px;
	margin-top: 30px;

}

.hoverbox {
	margin:auto;
	max-width:250px;
	min-height: 510px;
	background-color: #fff;
}
